<html lang='en'>
  <head>
    <title>Sample Email</title>
  </head>
  <body>
    <div id='email-frame' style='text-align: center'>
      Hello
      {{name}},
      <br />
      We would like to inform you that this is an weekly email.
    </div>
  </body>
</html>